/* .table{
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
  padding: 0;
}

.th{
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  /* text-align: left; */
/* }

.headers{
  padding: 10px;
}

.tr{
  padding: 15px;
  font-size: x-large;
  border: 2px solid #ddd;
}

.rows{
  padding: 10px;
  display:flex;
} */ 
.th{
  position:relative;
  padding:0;
}
.resizer{
  position: absolute;
  top: 0;
  right:0;
  opacity:0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}
.resizer.isResizing {
  background: blue;
  opacity: 1;
}
 
@media (hover: hover) {
  *:hover > .resizer {
    opacity: 1;
  }
}