/* .table{
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
  padding: 0;
}

.th{
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  /* text-align: left; */
/* }

.headers{
  padding: 10px;
}

.tr{
  padding: 15px;
  font-size: x-large;
  border: 2px solid #ddd;
}

.rows{
  padding: 10px;
  display:flex;
} */ 